name: Release core-infra

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  CI:
    uses: Stamper-Labs/core-flows/.github/workflows/yarn-nodejs-ci.yml@v3.0.3
    secrets: inherit
    with:
      mode: "release"