name: Deploy NestJS App

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  release:
    uses: Stamper-Labs/core-flows/.github/workflows/yarn-node-build.yml@dev
    with:
      node_version: "22"
      release_mode: 'yes'
    secrets: inherit